@model EmployeeSelfServiceDiploma.Models.TemplatedApplication

@{
    ViewBag.Title = "Заява";
}


<h2 style="margin-bottom: 10px;">@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <div class="display-label" style="font-size: 16px; font-weight: 500;">
         <p>Описання заяви</p>
    </div>
    @if(Model.TemplatedApplicationId == 1)
    {
        <div class="app-content-field" style="margin: 2px 8px 7px 10px;">
            <p>Дата виходу у відпустку:</p>
            <p style="font-weight: 600; font-size: 16px;">@Html.DisplayFor(model => model.templatedField1)</p>
        </div>
        <div class="app-content-field" style="margin: 0 8px 10px 10px;">
            <p>Кінцева дата:</p>
            <p style="font-weight: 600; font-size: 16px;">@Html.DisplayFor(model => model.templatedField2)</p>
        </div>
    }
    <div class="display-label" style="font-size: 14px; font-weight: 500;">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<div style="margin: 5px 10px;">
    <p style="margin-bottom: 5px;">@Html.ActionLink("Файл заявки", "File", new { id=Model.TemplatedApplicationId })</p>
    <p style="margin-bottom: 5px;">@Html.ActionLink("Редагувати заявку", "Edit", new { id=Model.TemplatedApplicationId })</p>
</div>
